body {
    background: #ABC4FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 140%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

header {
    padding: 6%;
    background-image: url("images/onur-binay-O2-EZNGZIyk-unsplash-min.jpg");
    background-size:cover;
    background-position:center;
    
}

.title {
    color: #EDF2FB;
    text-align: left;
}

h1 {
    text-shadow: 1px 1px black;
}



#center {
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    gap: 4%;
    width: 100%;
}

#sidebar {
    background-color: #c1d3fe;
    height: auto;
    width: 20%;
    justify-self: flex-start;
}

#sidebar a:hover, .link:hover{
    color: #ABC4FF;
}


#pages li {
    text-align: center;
    border: dashed white 2px;
    margin: 8%;
    list-style: none;
    overflow-wrap:break-word;
    
}

#pages li a {
    text-decoration: none;
    
}

.content {
    background-color: #ccdbfd;
    width: 60%;
    height: auto;
    padding: 2%;
    
}

#pages {
    padding: 1%;
}

footer {
    text-align: center;
}

footer ul li{
    list-style-type: none;
    display: inline;
    
    
}

.images {
    max-width: 100%;
    height:auto;
}

.images, #sidebar, .content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fig {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icons {
    display: flex;
    margin: 2%;
}
.vids {
    max-width: fit-content;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 2%;
  }

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

  input[type=submit] {
    background-color: #3d6bd8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    background-color: #D83D6B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset]:hover {
    background-color: #8595bb;
  }

  input[type=submit]:hover {
    background-color: #8595bb;
  }

  .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    
}

tr {
    text-align: center;
}