body {
    background: #ABC4FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 140%;
    margin: 0%;
    
}

header {
    padding: 6%;
    background-image: url("images/onur-binay-O2-EZNGZIyk-unsplash-min.jpg");
    background-size:cover;
    background-position:center;
    height: 20%;
    
}

.title {
    color: #EDF2FB;
    text-align: left;
}

h1 {
    text-shadow: 1px 1px black;
}



#center {
    width: 60%;
    margin: auto;
}

#sidebar {
    background-color: #c1d3fe;
    height: auto;
    position: fixed;
    float: left;
    width: 15%;
    left: 0%;
}

#pages li {
    text-align: center;
    border: dashed white 2px;
    margin: 8%;
    list-style: none;
}

#pages li a {
    text-decoration: none;
}

#content {
    position: float;
    background-color: #ccdbfd;
    padding: 5%;
    width: auto;
    height: auto;
    
}

#pages {
    padding: 1%;
}

footer {
    background-color: #edf2fb;
    position:static;
    bottom: 0px;
    height: auto;
    width: 100%;
    text-align: center;
}